# Ignore artifacts:
build
coverage
node_modules
dist
.vscode
.idea
*.log
*.lock
*.json
*.config.js
*.config.cjs
*.config.mjs
*.d.ts
*.min.js
*.bundle.js
*.test.js
*.spec.js
*.test.ts
*.spec.ts
*.snap
*.map
*.tsbuildinfo
*.env
# Ignore all files in the public directory
public/*
**/.git
**/.svn
**/.hg